#toggle-nav {
  display: none;
  margin: 25px 0 0;
  padding: 10px 20px;
  font-weight: 700;
  color: #aa0000;
  position: relative;
  z-index: 5000;
  overflow: hidden;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #e0e0e0;
  background: #f7f7f7;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#fdfdfd, #efefef);
  background: -moz-linear-gradient(#fdfdfd, #efefef);
  background: -o-linear-gradient(#fdfdfd, #efefef);
  background: linear-gradient(#fdfdfd, #efefef);
  -webkit-box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px;
}
/* line 21, ../sass/_nav.scss */
#toggle-nav:hover, #toggle-nav:active {
  color: #444444;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(#fbfbfb, #e9e9e9);
  background: -moz-linear-gradient(#fbfbfb, #e9e9e9);
  background: -o-linear-gradient(#fbfbfb, #e9e9e9);
  background: linear-gradient(#fbfbfb, #e9e9e9);
}