 /* **************************************************************************
   Title: John R. Reader DDS 						
   Author: Ryan Karpeles													
   URL: http://www.johnrreaderdds.com/									
   ************************************************************************** */ 

/**
 * TABLE OF CONTENTS
 *
 * 1.0 - Base
 * 2.0 - Layout
 * 3.0 - Typography     	 
 * 4.0 - Theme
 *       - Header
 *		 - Navigation 
 *       - Buttons
 * 5.0 - Helper Classes
 * 6.0 - Media Queries
 *       - Min Max Queries
 *       - Min Queries
 *       - Max Queries
 */ 
 
/* ==========================================================================
   1.0 - $Base
   ========================================================================== */  
   
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; }
		  
body {
  margin: 0;
  color: #555;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  line-height: 1.4; }
  
p {
    margin: 0 0 1.5em 0; }

a {
  color: #276cab;
  text-decoration: none;
  -webkit-transition: all ease-in-out .1s;
	 -moz-transition: all ease-in-out .1s;
	   -o-transition: all ease-in-out .1s;
	      transition: all ease-in-out .1s; }
  
a:hover {   
  color: #008000; }
  
img {
  display: block;
  height: auto;
  max-width: 100%; }

hr {
    display: block;
	clear: both;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: .75em 0;
    padding: 0; }
	
	
/* ==========================================================================
   2.0 - $Layout
   ========================================================================== */

.container {
  width: 90%; 
  max-width: 960px;  
  margin: 0 auto; }
  
.int-col-left, .int-col-right {
  float: left;
  display: block; }
  
  
/* ==========================================================================
   3.0 - $Typography
   ========================================================================== */ 
   
h1, h2, h3, h4, h5 {
  margin: 0 0 .5em 0; }
 
h1 {
  font-family: 'PT Serif', Georgia, 'Times New Roman', 'Times', serif;
  color: #4d4d4d;
  font-weight: 400;
  line-height: 1.145; }
  
h2, h3 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 700; }
 
h1, .alpha   { font-size: 1.75em; } 
h2, .beta    { font-size: 1.3em; } 
h3, .gamma   { font-size: 1.2em; } 
h4, .delta   { font-size: 1.1em; } 
h5, .epsilon { font-size: 1.05em; font-weight: 400; }
.zeta        { font-size: 1em; }  
.eta         { font-size: .95em; } 
.theta       { font-size: .9em; }

.serif { 
  font-family: 'PT Serif', Georgia, 'Times New Roman', 'Times', serif; }
  
.sans-serif { 
  font-family: 'PT Sans', Helvetica, Arial, sans-serif; }

.bold   { font-weight: bold; }
.italic { font-style: italic; }

/**
* Colors
*/

.lt-grey-txt {
  color: #5d6c53; }

.green-txt {
  color: #008000; }


/* ==========================================================================
   4.0 - $Theme
   ========================================================================== */   
   
/** 
 * Header
 */
 
.header {
  background: url('../images/header-bg.png') repeat-x;
  height: 132px;  }
  
/* 
 * Logo
 */
 
.logo {
  float: left;
  padding-top: 30px; }
	
a.logo-title {
  color: #008000;
  font-size: 1.5em;
  text-decoration: none; }
	
a.logo-title:hover {
  color: #4d4d4d; }
  
a.logo-subtitle {
  font-size: 1.2em; }
  
.mobile-number {
  display: none; }
  
/**
 * Phone Box
 */
 
.phone-box {	
  float: right;
  padding: 45px 20px 0 0; }		
	
.phone-icon {
  background: url('../images/phone-icon.png') no-repeat;
  height: 82px;
  margin: -118px 0 0 -85px;	}
	
.phone-call {
  font-size: 20px;
  color: #5d6c53;
  margin-bottom: -4px; }
	
.phone-number {
  height: 82px;
  font-size: 26px;
  color: #5d6c53;	}
  
/** 
 * Main Nav
 */
 
.main-nav {
  margin-bottom: 0; } 
  
/** 
 * Hero Image
 */
 
.banner-wrap { 
  position: relative;
  margin-bottom: 1.5em; }
  
.read-more-button {
  background:url('../images/read-more-sprite.png') 0 0 no-repeat;
  height:34px;
  width:129px;
  max-width: 100%;
  cursor:pointer;
  position:absolute;
  z-index: 100;
  top: 66%;
  left: 3%; }
	
.read-more-button:hover {
  background:url('../images/read-more-sprite.png') 0 -34px no-repeat;	}
	
.read-more-button:active {
  background:url('../images/read-more-sprite.png') 0 -68px no-repeat;	}
	
.appt-button {
  background:url('../images/schedule-appt-sprite.png') 0 0 no-repeat;
  height:34px;
  width:241px;
  cursor:pointer;
  position:absolute;
  z-index: 100;
  top: 66%;
  left: 19%; }
	
.appt-button:hover {
  background:url('../images/schedule-appt-sprite.png') 0 -34px no-repeat; }
	
.appt-button:active {
  background:url('../images/schedule-appt-sprite.png') 0 -68px no-repeat; }
  
/**
 * Mobile Tagline
 */
 
.mobile-tagline-wrap {
  background: #f0f0f0;
  padding: 1.5em; }

.tagline-header {
  font-size: 2.15em; 
  font-weight: 700; }
		  
/** 
 * Buttons
 */ 
  
.btn {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  background: #008000;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }  

.btn-1 {
  display: block;
  position: absolute; 
  bottom: 16.5%;
  left: 3.2%; }
 
.btn-2 {
  display: block;
  position: absolute; 
  bottom: 16.5%;
  left: 20%; }
  
/**
 * Contact page  
 */

.contact-appt {
  background: url('../images/calendar-icon-gray.png') 0 0 no-repeat;
  height: 30px;
  padding: 0 0 0 35px; }
	
.contact-hours {
  background: url('../images/clock-icon-gray.png') 0 0 no-repeat;
  height: 30px;
  margin: 25px 0 0;
  padding: 0 0 0 35px; }

.contact-emergencies {
  background: url('../images/bouy-icon-gray.png') 0 0 no-repeat;
  height: 30px;
  margin: 25px 0 0;
  padding: 0 0 0 35px; }	
	
.contact-location {
  background: url('../images/store-icon-gray.png') 0 0 no-repeat;
  height: 30px;
  padding: 0 0 0 35px; }
	
#exec-offices {
  background: url('../images/executive-offices.jpg') 0 10px no-repeat;
  height: 308px;
  margin: 0;
  padding: 0; }
  
/**
 * Services page  
 */

.int-col-left {
  width: 35%; }
  
.int-col-right {
  width: 65%; }
  
/**
 * FAQs page 
 */
 
h3.trigger {
    padding: 5px 40px;
    margin: 0 0 2px 0;
	width: 100%;
	background: #ddd;
	font-size: 1.1em;
    font-weight: normal;
	line-height: 1.3;
    float: left; }
	
h3.trigger a {
    color: #666;
	text-decoration: none;
    display: block; }
	
h3.trigger a:hover { color: #333; }

h3.active { background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/

.toggle_container {
  position: relative;
  margin: 0 0 5px;
  padding: 0;
  border-top: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  background: #f5f5f5;
  overflow: auto;
  font-size: 1em;
  clear: both;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
  
.toggle_container .block {
  padding: 15px 20px 10px; /*--Padding of Container--*/
  border-bottom: 1px solid #d6d6d6;	/*--Bottom rounded corners--*/ }	

.toggle_container .block  p{
  margin: 0 0 10px; }
  
  
/* ==========================================================================
   5.0 - $Helper Classes
   ========================================================================== */ 
   
.bot-mar-0 { margin-bottom: 0; }
.bot-mar-1 { margin-bottom: .25em; }
.bot-mar-2 { margin-bottom: .5em; }
.bot-mar-3 { margin-bottom: .75em; }
.bot-mar-4 { margin-bottom: 1em; }
.bot-mar-5 { margin-bottom: 1.25em; }
.bot-mar-6 { margin-bottom: 1.5em; }
.bot-mar-7 { margin-bottom: 1.75em; }
.bot-mar-8 { margin-bottom: 2em; }
.bot-mar-9 { margin-bottom: 2.25em; }

.top-mar-0 { margin-top: 0; }
.top-mar-1 { margin-top: .25em; }
.top-mar-2 { margin-top: .5em; }
.top-mar-3 { margin-top: .75em; }
.top-mar-4 { margin-top: 1em; }
.top-mar-5 { margin-top: 1.25em; }
.top-mar-6 { margin-top: 1.5em; }
.top-mar-7 { margin-top: 1.75em; }
.top-mar-8 { margin-top: 2em; }
.top-mar-9 { margin-top: 2.25em; }

.v-space-0, .v-space-1, .v-space-2, .v-space-3, .v-space-4 {
  display: block;
  clear: both; }
  
.v-space-0 { height: 0; }
.v-space-1 { height: .5em; }
.v-space-2 { height: 1em; }
.v-space-3 { height: 1.5em; }
.v-space-4 { height: 2.5em; }

/**
 * Images
 */

.img-left {
  float: left; 
  margin: 0 1.25em .5em 0; }
  
/**
 * Responsive Navigation
 */
 
.top-nav {
  text-align: right;
  clear: both;
  display: block;
  margin: 11px 0 23px; 
  font-size: 1.025em; }
  
.top-nav li {  
  display: inline-block;
  padding: 0 8px;
  list-style-type: none; }
  
.top-nav a {  
  color: #4d4d4d;
  padding: 5px 8px;
  text-decoration: none; }
  
.top-nav a:hover {
  color: #008000;
  background-color: #ededed;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }

.top-nav.showing {
  height: auto;
  padding-bottom: 15px; }
	
.top-nav.hiding {
  height: 0;	}
	
#toggle-nav { 
  display: none; }


/* ==========================================================================
   6.0 - $Media Queries
   ========================================================================== */  
 

/* Max Queries
   ========================================================================== */ 
   
@media all and (max-width: 1030px) { 

   .appt-button {
     left: 21%; }
   
}

@media all and (max-width: 880px) { 

   .appt-button {
     left: 22%; }
   
}

@media all and (max-width: 840px) { 

   .appt-button {
     display: none; }
   
}

@media all and (max-width: 760px) {

    .top-nav {
      text-align: left;
      height: 0;
      margin: 0; }

    .top-nav ul {
      margin: 0 0 10px;
      padding: 0; }
  
    .top-nav li {
      display: block;
      padding: 10px 0; }
  
    .top-nav li:first-child {
      padding: 0 0 10px; }
 
	#toggle-nav {
      display: block;
      cursor: pointer;
      margin: 20px 0 25px;
      padding: 10px 20px;
      color: #008000;
      font-weight: 700;
      position: relative;
      z-index: 5000;
      overflow: hidden;
      border-top: 1px solid #eeeeee;
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      border-bottom: 1px solid #e0e0e0;
      background: #f7f7f7;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #efefef));
      background: -webkit-linear-gradient(#fdfdfd, #efefef);
      background: -moz-linear-gradient(#fdfdfd, #efefef);
      background: -o-linear-gradient(#fdfdfd, #efefef);
      background: linear-gradient(#fdfdfd, #efefef);
      -webkit-box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px;
      box-shadow: rgba(0, 0, 0, 0.025) 0 1px 3px; }

    #toggle-nav:hover, #toggle-nav:active {
      color: #444444;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e9e9e9));
      background: -webkit-linear-gradient(#fbfbfb, #e9e9e9);
      background: -moz-linear-gradient(#fbfbfb, #e9e9e9);
      background: -o-linear-gradient(#fbfbfb, #e9e9e9);
      background: linear-gradient(#fbfbfb, #e9e9e9); }
  
    .banner-wrap {
      display: none; }
  
}

@media all and (max-width: 625px) {
	.phone-box {
	  display: none; }
	  
	.mobile-number {
	  display: inline; }
}

@media all and (max-width: 520px) {
	.int-col-left, .int-col-right {
	  width: 100%; }
	  
	.int-col-left ul {
	  margin-bottom: 0; }
	  
	.int-col-right ul {
	  margin-top: 0; }

}
