/* **************************************************************************
   Title: John R. Reader DDS 						
   Author: Ryan Karpeles													
   URL: http://www.johnrreaderdds.com/									
   ************************************************************************** */ 

/**
 * TABLE OF CONTENTS
 *
 * 1.0 - Base
 * 2.0 - Layout
 * 3.0 - Typography     	 
 * 4.0 - Theme
 *       - Header
 *		 - Navigation 
 *       - Buttons
 * 5.0 - Helper Classes
 * 6.0 - Media Queries
 *       - Min Max Queries
 *       - Min Queries
 *       - Max Queries
 */ 
 
/* ==========================================================================
   1.0 - $Base
   ========================================================================== */  
   
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; }
		  
body {
  margin: 0;
  color: #555;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  line-height: 1.4; }
  
p {
    margin: 0 0 1.5em 0; }

a {
  color: #276cab;
  text-decoration: none;
  -webkit-transition: all ease-in-out .1s;
	 -moz-transition: all ease-in-out .1s;
	   -o-transition: all ease-in-out .1s;
	      transition: all ease-in-out .1s; }
  
a:hover {   
  color: #008000; }
  
img {
  display: block;
  height: auto;
  max-width: 100%; }

hr {
    display: block;
	clear: both;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0 2em;
    padding: 0; }
	
	
/* ==========================================================================
   2.0 - $Layout
   ========================================================================== */

.container {
  width: 90%; 
  max-width: 960px;  
  margin: 0 auto; }
  
  
/* ==========================================================================
   3.0 - $Typography
   ========================================================================== */ 
 
h1 {
  font-family: 'PT Serif', Georgia, 'Times New Roman', 'Times', serif;
  color: #4d4d4d;
  font-weight: 400;
  margin: 0 0 .25em 0; 
  line-height: 1.145; }
  
h2, h3 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 700; }
 
h1, .alpha   { font-size: 1.7em; } 
h2, .beta    { font-size: 1.2em; margin: 0 0 .25em 0; } 
h3, .gamma   { font-size: 1.5em; } 
h4, .delta   { font-size: 1.4em; } 
h5, .epsilon { font-size: 1.3em; margin: 0 0 .5em 0; } 
h6, .zeta    { font-size: 1.2em; margin: 0 0 .25em 0; } 
.eta         { font-size: 1.1em; } 
.theta       { font-size: .95em; }

.serif { 
  font-family: 'PT Serif', Georgia, 'Times New Roman', 'Times', serif; }
  
.sans-serif { 
  font-family: 'PT Sans', Helvetica, Arial, sans-serif; }

.bold   { font-weight: bold; }
.italic { font-style: italic; }

/**
* Colors
*/

.lt-grey-txt {
  color: #5d6c53; }

.green-txt {
  color: #008000; }


/* ==========================================================================
   4.0 - $Theme
   ========================================================================== */   
   
/** 
 * Header
 */
 
.header {
  background: url('../images/header-bg.png') repeat-x;
  height: 132px;  }
  
/* 
 * Logo
 */
 
.logo {
  float: left;
  padding-top: 30px; }
	
a.logo-title {
  color: #008000;
  font-size: 1.5em;
  text-decoration: none; }
	
a.logo-title:hover {
  color: #4d4d4d; }
  
a.logo-subtitle {
  font-size: 1.2em; }
  
/**
 * Phone Box
 */
 
.phone-box {	
  float: right;
  padding: 45px 20px 0 0; }	
	
	
.phone-icon {
  background: url('../images/phone-icon.png') no-repeat;
  height: 82px;
  margin: -118px 0 0 -85px;	}
	
.phone-call {
  font-size: 20px;
  color: #5d6c53;
  margin-bottom: -4px; }
	
.phone-number {
  height: 82px;
  font-size: 26px;
  color: #5d6c53;	}
  
/** 
 * Top Nav
 */
 
#nav {
  float: right;
  margin: 5px 0 10px; }
  
#nav li {
  padding: 0 6px; }
  
#nav a {
  padding: 5px 10px;
  color: #4d4d4d;
  text-decoration: none; }
  
#nav a:hover {
  color:#008000;
  background-color: #ededed;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }
		  
/** 
 * Hero Image
 */
 
.banner-wrap { 
  position: relative;
  margin-bottom: 1.5em; }
		  
/** 
 * Buttons
 */ 
  
.btn {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  background: #008000;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }  

.btn-1 {
  display: block;
  position: absolute; 
  bottom: 16.5%;
  left: 3.2%; }
 
.btn-2 {
  display: block;
  position: absolute; 
  bottom: 16.5%;
  left: 20%; }
  
  
  
/* ==========================================================================
   5.0 - $Helper Classes
   ========================================================================== */ 
   
.bot-mar-0 { margin-bottom: 0; }
.bot-mar-1 { margin-bottom: .25em; }
.bot-mar-2 { margin-bottom: .5em; }
.bot-mar-3 { margin-bottom: .75em; }
.bot-mar-4 { margin-bottom: 1em; }
.bot-mar-5 { margin-bottom: 1.25em; }
.bot-mar-6 { margin-bottom: 1.5em; }
.bot-mar-7 { margin-bottom: 1.75em; }
.bot-mar-8 { margin-bottom: 2em; }
.bot-mar-9 { margin-bottom: 2.25em; }

.top-mar-0 { margin-top: 0; }
.top-mar-1 { margin-top: .25em; }
.top-mar-2 { margin-top: .5em; }
.top-mar-3 { margin-top: .75em; }
.top-mar-4 { margin-top: 1em; }
.top-mar-5 { margin-top: 1.25em; }
.top-mar-6 { margin-top: 1.5em; }
.top-mar-7 { margin-top: 1.75em; }
.top-mar-8 { margin-top: 2em; }
.top-mar-9 { margin-top: 2.25em; }

/**
 * Images
 */

.img-left {
  float: left; 
  margin: 0 1.25em .5em 0; }

/* ==========================================================================
   6.0 - $Media Queries
   ========================================================================== */  
 

/* Max Queries
   ========================================================================== */ 
   
@media screen and (max-width: 799px) {
	#nav-toggle {
	  float: left;
	  clear: both;
	  margin: 10px 0 15px;
	  padding: 5px 15px;	   
	  height: 35px;
	  background: #82a8cc;
	  font-size: 1.05em; 
	  color: #fff;
	  font-family: 'PT Serif', Georgia, 'Times New Roman', 'Times', serif;
	  -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px; }
	  
	#nav {
	  float: left; }
	
	#nav ul {
	  padding: 0;
	  margin: 0; }
	  
	#nav li {
	  padding: 5px 0; }
	  
	#nav a {
	  padding: 0; }
	
}

